<!-- Messages: style can be found in dropdown.less-->
<ul id="mesg-dropdown" class="dropdown-content messages-menu">


        <li class="header">You have 4 messages</li>
        <li>
            <!-- inner menu: contains the messages -->
            <ul class="menu">
                <li>
                    <!-- start message -->
                    <a href="#">
                        <div class="pull-left">
                            <!-- User Image -->
                            <!-- img src="https://www.gravatar.com/avatar/?d=mm" class="img-circle" alt="User Image" ->
                        </div>
                        <!-- Message title and timestamp -->
                        <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <!-- The message -->
                        <p>Why not buy a new awesome theme?</p>
                    </a>
                </li>
                <!-- end message -->
            </ul>
            <!-- /.menu -->
        </li>
</ul>
<!-- /.messages-menu -->
