<div class="col m2 main-sidebar" style="padding:0; margin:0">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    
    <!-- search form (Optional) -->
    <!-- 
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="material-icons">search</i></button>
        </span>
      </div>
    </form>
    -->
    <!-- /.search form -->
    <ul class="collection" style="padding:0; margin:0">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    </ul>

    <!-- Sidebar Menu -->
    
    <ul class="collapsible" style="margin:0; padding:0">
      <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>User</div>
          <div class="collapsible-body">
              <ul class="collection">
                  <li class="collection-item"><a>one</a></li>
                  <li class="collection-item">two</li>
                  <li class="collection-item">three</li>
              </ul>
          </div>
      </li>
      <li>
          <div class="collapsible-header"><i class="material-icons">home</i>Role</div>
          <div class="collapsible-body">
              <ul class="items">
                  <li>one</li>
                  <li>two</li>
                  <li>three</li>
              </ul>
          </div>
      </li>
      <li>
          <div class="collapsible-header"><i class="material-icons">home</i>Account</div>
          <div class="collapsible-body">
              <ul class="items">
                  <li>one</li>
                  <li>two</li>
                  <li>three</li>
              </ul>
          </div>
      </li>
      <li>
          <div class="collapsible-header"><i class="material-icons">people</i>Others</div>
          <div class="collapsible-body">
              <ul class="items">
                  <li>one</li>
                  <li>two</li>
                  <li>three</li>
              </ul>
          </div>
      </li>

      <li class="header">LABELS</li>
      <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</div>
