{% extends 'Atom3Admin/layouts/main.html.twig' %}
 
{% block body %}
      
<div class="example-wrapper">
    <div id="vueApp"></div>
</div>

{{ app.debug }}
{{ app.environment }}
{{ app.token }}
{% endblock %}
