<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet" type="text/css">
 

        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('/build/app.css') }}" rel="stylesheet" type="text/css" >
        
        <!-- vuejs -->
        <script>
  window.__VUE_DEVTOOLS_HOST__ = '192.168.0.20' // default: localhost
  window.__VUE_DEVTOOLS_PORT__ = '8098' // default: 8098
</script>
<script src="http://192.168.0.20:8098"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            <example></example>
        {% block javascript %}
  		{{ encore_entry_script_tags('app') }}
	{% endblock %}
    </body>
</html>
