<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="http://localhost:8098"></script>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <h1> Hello </h1>
        {% block body %}{% endblock %}
 
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
