<header class="main-header">

  <!-- Logo -->
  <a href="/" class="logo">
    <!-- @section('logo-mini') -->
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b> <!--  short-title }} --> </b></span>
    <!-- @show
    @section('logo-lg')
    -->
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b><!-- title }} --></b></span>
    <!-- @show -->
  </a>

  <!-- Header Navbar -->
  <nav>
        <div class="navbar-wrapper">
            <!-- Sidebar toggle button-->
            <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>

            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      
            <!-- Navbar Right Menu -->
            <ul class="nav-mobile right">
                    <!-- Menu toggle button -->
                    <li> <a href="#" class="dropdown-toggle" data-toggle="mesg-dropdown">
                            <i class="material-icons">envelope</i>
                            <span class="label label-success">4</span>
                        </a>   
                    </li>
        <li class="footer"><a href="#">See All Messages</a></li>
                <!-- @if (auth()->check()) -->
                <!-- include('Atom3Admin/layouts/main-header/navbar-right-menu/message-menu.html.twig') -->
                <!-- include('Atom3Admin/layouts/main-header/navbar-right-menu/notifications-menu.html.twig') -->
                <!-- include('Atom3Admin/layouts/main-header/navbar-right-menu/tasks-menu.html.twig') -->
                <!-- include('Atom3Admin/layouts/main-header/navbar-right-menu/user-menu.html.twig') -->
                <form id="logout-form" action=" url('logout') }}" method="POST" style="display: none;">
                    {{ csrf_token('form') }}
                </form>
                <li>
                    <a href="#" onclick="event.preventDefault();document.getElementById('logout-form').submit();"><i class="fa fa-sign-out"></i> <span>Logout</span></a>
                </li>
                <!-- @else -->
                <li>
                    <a href=" route('login') }}"><i class="material-icons"></i> Login</a>
                </li>
                <!-- @endif -->
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="material-icons"></i></a>
                </li>
            </ul>
        </div>
  </nav>
</header>
