<div class="col m9">
    <!-- Content Header (Page header) -->
  <div class="content-header">
      <strong>Module</strong>
    {% block  breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Title</li>
    </ol>
          {% endblock %}
  </div>

  <!-- Main content -->
  <section class="content">

    content 


  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
