<div class="col m10 content-wrapper container">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      content-title }}
      <small>content-subtitle }} </small>
    </h1>
      {% block  breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Title</li>
    </ol>
          {% endblock %}
  </section>

  <!-- Main content -->
  <section class="content">

    content 


  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
